{% extends 'axf/base.html' %}
{% block linkscript %}
    {% load static from staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'mine/css/mine.css' %}"/>
    <script type="text/javascript" charset="utf-8" src="{% static 'mine/js/mine.js' %}"></script>
{% endblock linkscript %}
{% block base %}
    <h1>鲁源是大帅哥</h1>
    <h1>鲁源是程序大神</h1>
    <h1>鲁源是男神</h1>
    <h1>鲁源是大帅哥</h1>
    <h1>鲁源是程序大神</h1>
    <h1>鲁源是男神</h1>
    <h1>鲁源是大帅哥</h1>
    <h1>鲁源是程序大神</h1>
    <h1>鲁源是男神</h1>
{% endblock base %}